# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Expo
.expo/
.expo-shared/

# Native folders (if generated)
android/app/build/
android/build/
ios/build/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS files
.DS_Store
Thumbs.db